@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

* {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  color: #63465a;
  background-color: #fffef9;
  /* font-style: normal; */
  max-width: 430px;
  margin: 0 auto;
}

.kristin-landing-page {
  /* max-width: 85rem; */
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar {
  display: grid;
  width: 100%;
  height: 200px;
  padding-top: 1rem;
}

.navbar-container {
  display: grid;
  height: 100%;
  width: auto;
  place-content: center;
}

.logo {
  height: auto;
  width: auto;
}

.logo img {
  height: 200px;
  width: 100%;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  color: #44576d;
  padding: 1rem;
  place-content: center;
  place-items: center;
  height: auto;
}

.hero-container {
  display: grid;
  place-items: center;
  width: 100%;
}

#hero-1 {
  text-align: center; /* Ensures inline elements within are centered */
}

#hero-1 img {
  display: block; /* Ensures the image behaves like a block element */
  margin: 0 auto; /* Centers the image horizontally */
  width: 100%;
}

#partner-button {
  padding-bottom: 0;
}
.hero-spacer {
  height: 2rem;
}

.hero-description h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  padding-top: 1.5rem;
}

.hero p {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
  padding: 0.5rem;
  padding-top: 2rem;
}

#hero-2 p {
  text-align: center;
  font-size: 1.25rem;
  padding-top: 0;
}

#lg-logo {
  width: 90%;
  display: flex;
  justify-content: center;
}

.spacer {
  height: 2rem;
}

.profile p {
  text-align: center;
  font-size: 1rem;
}

.timeline-container img {
  width: 100%;
}

.portrait-cards {
  color: #63465a;
  background-color: #fbecde;
}

.portrait-cards-container {
  overflow: hidden;
  padding-left: 5px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: inherit;
}

.portrait-cards-container h1 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  background-color: inherit;
}

.portrait-cards-container h2 {
  text-align: right;
  font-size: 1.5rem;
  padding-right: 2rem;
  padding-bottom: 1.5rem;
  margin-top: 0;
  background-color: inherit;
}

.pictures {
  display: flex;
  background-color: inherit;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-padding: 0 10px;
  scrollbar-width: none;

  ::-webkit-scrollbar {
    display: none;
  }
}

.picture {
  width: 100%;
  max-width: 325px;
  height: auto;
  flex-shrink: 0;
  border-radius: 30px;
  overflow: hidden;
  scroll-snap-align: start;
  margin: 10px;
  background-color: inherit;
}

.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: inherit;
  flex-shrink: 1;
}

.footer-container {
  display: grid;
  height: 5rem;
  background-color: #63465a;
  place-items: center;
}

.footer-container img {
  width: 100%;
  height: 5rem;
}

.footer-logo {
  background-color: #63465a;
}
