* {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  /* font-style: normal; */
}

.adam-landing-page {
  max-width: 85rem;
  margin: 0 auto;
}

.navbar {
  display: grid;
  width: 100%;
  height: 200px;
  background-color: #ffffff;
}

.navbar-container {
  display: grid;
  height: 100%;
  width: auto;
  place-content: center;
}

.logo {
  height: auto;
  width: auto;
}

.logo img {
  height: 200px;
}

.profile p {
  text-align: center;
  font-size: 1rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  color: #44576d;
  padding: 15px;
  place-content: center;
}

.hero img {
  width: 100%;
  place-content: center;
}

.hero-description h1 {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

.hero-description p {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

#hero-2 {
  text-align: center;
}

@media (min-width: 960px) {
  /* reorder profile area */

  .hero-container {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr; /* Three equal columns */
    grid-template-rows: auto auto; /* Two rows, size based on content */
    grid-template-areas:
      "hero1 hero3 hero3"
      "hero1 hero2 hero2"; /* hero-2 spans the second and third columns */
    grid-gap: 2rem;
    padding-left: 100px; /* Increase padding */
    padding-right: 100px;
    padding-bottom: 50px;
  }

  #hero-1 {
    grid-area: hero1; /* Assign hero-1 to the first cell */
    margin-right: 25px;
    place-content: top;
  }

  #hero-2 {
    grid-area: hero2; /* Allow hero-2 to span across the second and third columns */
    font-size: 1.25rem;
  }

  #hero-3 {
    grid-area: hero3; /* Assign hero-3 to span the second and third columns */
  }

  /* return */

  .hero-container img {
    width: 75%; /* Adjust width to prevent overly large images */
    margin: auto; /* Center the image within the grid column */
  }

  .profile {
    padding: 0rem;
  }

  .hero-description h1 {
    font-size: 3rem; /* Increase font size for better visibility on large screens */
  }

  .hero-description p {
    font-size: 2rem; /* Increase paragraph font size for readability */
  }
}

/* About Section */
.about {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout */
  background-color: #44576d;
  padding: 1rem;
}

.about-img {
  text-align: center; /* Center align the image */
}

.about-img img {
  max-width: 100%; /* Ensure image does not exceed container width */
  height: auto; /* Maintain aspect ratio */
}

.verse-quote {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #44576d;
  color: #ffffff;
  padding: 15px;
  padding-top: 0px;
}

.verse {
  padding-top: 0;
}

.video-container {
  text-align: center; /* Center align the video button and player */
}

#video-button {
  padding: 10px 20px; /* Adjust button padding */
  font-size: 16px; /* Adjust button font size */
}

#vertical-video {
  display: none; /* Initially hide the video player */
}

/* video */
.popup {
  display: none; /* Hide the popup initially */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Black with opacity */
  z-index: 1000; /* Sit on top */
  place-content: center;
}

.popup-content {
  position: relative;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1001; /* Ensure the content is above the overlay */
  /* combine from #vertical-video css  */
  /* display: none; */
  align-items: center;
  justify-content: center;
  max-width: 400px;
  padding-top: 3rem;
}

.close-button {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  z-index: 1002; /* Ensure the close button is above everything else */
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#video-button {
  align-items: center;
  background: #ffffff;
  border: 0 solid #e2e8f0;
  box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  color: #44576d;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 700;
  height: 56px;
  justify-content: center;
  line-height: 24px;
  overflow-wrap: break-word;
  padding: 14px;
  text-decoration: none;
  width: auto;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* #vertical-video {
  display: none;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  padding-top: 1rem;
} */

#video-player {
  border-color: #44576d;
  border-width: 2px;
  align-items: center;
  justify-content: center;
}

/* desktop @media for about section */

@media (min-width: 960px) {
  .about {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    padding: 30px; /* Increase padding for better spacing */
  }

  .about img {
    width: 100%;
  }
}

/* info cards section*/

.info-cards {
  box-sizing: border-box;
  display: grid;
}

.info-card-container {
  display: grid;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  /* max-height: 415px; */
  overflow-y: auto;
}

.info-card {
  position: sticky;
  top: 0;
  padding: 10px;
  /* margin-bottom: auto; */
  width: calc(100% - 20px);
  max-width: 450px;
  display: grid;
  /* place-content: center; */
}
/* 
.info-card:nth-child(2) {
  top: 2%;
  margin-bottom: auto;
}

.info-card:nth-child(3) {
  top: 4%;
  margin-bottom: auto;
}
 */
.info-card img {
  max-width: 100%;
  border: 1px solid #44576d;
}

/* Cards Section */
.cards {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #e6e6e6;
  padding: 15px;
}

.cards-container img {
  width: 100%;
  place-content: center;
}

.cards-out {
  min-height: 100px;
  background: rgb(230, 230, 230);
  background: -moz-linear-gradient(
    180deg,
    rgba(230, 230, 230, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    rgba(230, 230, 230, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    180deg,
    rgba(230, 230, 230, 1) 35%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6e6e6",endColorstr="#ffffff",GradientType=1);
}

/* Past Story Section */
.past-story {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  padding: 15px;
}

.past-container img {
  width: 100%;
  place-content: center;
}

/* Now Story Section */
.now-story {
  display: grid;
  grid-template-columns: 1fr;
  color: #ffffff;
  background-color: #44576d;
  padding: 15px;
}

.now-container img {
  width: 100%;
  place-content: center;
}

/* Future Story Section */
.future-story {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #e6e6e6;
  padding: 15px;
}

.future-container img {
  width: 100%;
  place-content: center;
}

/* Invitation Section */
.invitation {
  display: grid;
  grid-template-columns: 1fr;
  color: #ffffff;
  background-color: #44576d;
  padding: 15px;
}

.invitation-container {
  width: 100%;
  place-content: center;
}

/* Partner Section */
.partner {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #ffffff;
  padding: 15px;
}

.partner-container {
  width: 100%;
  place-content: center;
  text-align: center;
}

/* partner buttons */
.partner-buttons,
.button-81 {
  display: grid;
  grid-column: 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  place-items: center;
}

.button-81 {
  background-color: #ffffff;
  border: 1 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #44576d;
  cursor: pointer;
  display: inline-block;
  /* font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, 
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  width: 200px;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #44576d;
  color: #ffffff;
}

.button-out {
  height: 3rem;
}

#mailchimp-div {
  width: 100%;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }

  .partner-buttons p {
    display: grid;
    width: 100%;
    place-content: center;
  }

  #mailchimp-div {
    display: grid;
    width: 100%;
    place-content: center;
  }
}

.footer-container {
  display: grid;
  height: 5rem;
  background-color: #44576d;
  place-items: center;
}

.footer-container img {
  width: 100%;
}
